<a href="https://colab.research.google.com/github/nityanandkore/Python-Study-Repo/blob/master/1.%20DataCamp-Intro%20to%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [104]:
print("Hello World")

Hello World

Example, do not modify!

In [105]:
print(5 / 8)

0.625

Print the sum of 7 and 10

In [106]:
print(7+ 10)

17

Addition, subtraction

In [107]:
print(5 + 5)
print(5 - 5)

10
0

Multiplication, division, modulo, and exponentiation

In [108]:
print(3 * 5)
print(10 / 2)
print(18 % 7)
print(4 ** 2)

15
5.0
4
16

How much is your $100 worth after 7 years?

In [109]:
print(100 * (1.1 ** 7))

194.87171000000012

Create a variable savings

In [0]:
savings=100

rint out savings

In [111]:
print(savings)

100

Create a variable savings

In [0]:
savings = 100

Create a variable growth_multiplier

In [0]:
growth_multiplier=1.1

Calculate result

In [0]:
result = savings * growth_multiplier **7

Print out result

In [115]:
print(result)

194.87171000000012

Create a variable desc

In [0]:
desc="compound interest"

Create a variable profitable

In [0]:
profitable =True
savings = 100
growth_multiplier = 1.1
desc = "compound interest"

Assign product of growth_multiplier and savings to year1

In [0]:
year1=savings*growth_multiplier

Print the type of year1

In [119]:
print(type(year1))

<class 'float'>

Assign sum of desc and desc to doubledesc

In [120]:
doubledesc = desc + desc
print(doubledesc)

compound interestcompound interest

Definition of savings and result

In [0]:
savings = 100
result = 100 * 1.10 ** 7

Fix the printout

In [122]:
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

I started with $100 and now have $194.87171000000012. Awesome!

Definition of pi_string

In [0]:
pi_string = "3.1415926"

Convert pi_string into float: pi_float

In [0]:
pi_float=float(pi_string)

area variables (in square meters)

In [0]:
hall = 11.25
kit =  18.0
liv =  20.0
bed =  10.75
bath = 9.50

Create list areas

In [0]:
areas=[11.25,
18.0,
20.0,
10.75,
9.50
]

Print areas

In [127]:
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

area variables (in square meters)

In [0]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

Adapt list areas

In [0]:
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

Print areas

In [130]:
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [131]:
print('a'*5)

aaaaa

area variables (in square meters)

In [0]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

house information as list of lists

In [0]:
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom",bath]]

Print out house

In [134]:
print(house)

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]

Print out the type of house

In [135]:
print(type(house))

<class 'list'>

Create the areas list

In [0]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

Print out second element from areas

In [137]:
print(areas[1])

11.25

Print out last element from areas

In [138]:
print(areas[-1])

9.5

Print out the area of the living room

In [139]:
print(areas[5])
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

20.0

Sum of kitchen and bedroom area: eat_sleep_area

In [0]:
eat_sleep_area = areas[3] + areas[7]

Print the variable eat_sleep_area

In [141]:
print(eat_sleep_area)

28.75

Create the areas list

In [0]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

Use slicing to create downstairs

In [0]:
downstairs=areas[0:6]

Use slicing to create upstairs

In [0]:
upstairs=areas[6:10]

Print out downstairs and upstairs

In [145]:
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

Create the areas list

In [0]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

Alternative slicing to create downstairs

In [0]:
downstairs=areas[:6]

Alternative slicing to create upstairs

In [0]:
upstairs=areas[6:]

Create the areas list

In [0]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

Correct the bathroom area

In [0]:
areas[-1]=10.50

Change "living room" to "chill zone"

In [0]:
areas[4]="chill zone"

Create the areas list and make some changes

In [0]:
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]

Add poolhouse data to areas, new list is areas_1

In [0]:
areas_1= areas + ["poolhouse",24.5]

Add garage data to areas_1, new list is areas_2

In [0]:
areas_2=areas_1+["garage",15.45]

Create list areas

In [0]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

Create areas_copy

In [0]:
areas_copy = list(areas)

Change areas_copy

In [0]:
areas_copy[0] = 5.0

Print areas

In [158]:
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

In [159]:
help(round)

Help on built-in function round in module builtins:

round(...)
    round(number[, ndigits]) -> number

    Round a number to a given precision in decimal digits (default 0 digits).
    This returns an int when called with one argument, otherwise the
    same type as the number. ndigits may be negative.

Create variables var1 and var2

In [0]:
var1 = [1, 2, 3, 4]
var2 = True

Print out type of var1

In [161]:
print(type(var1))

<class 'list'>

Print out length of var1

In [162]:
print(len(var1))

4

Convert var2 to an integer: out2

In [0]:
out2=int(var2)

Create lists first and second

In [0]:
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

Paste together first and second: full

In [0]:
full= list(first)+ list(second)

Sort full in descending order: full_sorted

In [0]:
full_sorted=sorted(full,reverse = True)

Print out full_sorted

In [167]:
print(full_sorted)

[20.0, 18.0, 11.25, 10.75, 9.5]

string to experiment with: place

In [0]:
place = "poolhouse"

Use upper() on place: place_up

In [169]:
place_up=place.upper()
# Print out place and place_up
print(place)
print(place_up)

poolhouse
POOLHOUSE

Print out the number of o's in place

In [170]:
print(place.count('o'))
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

3

Print out the index of the element 20.0

In [171]:
print(areas.index(20.0))

2

Print out how often 9.50 appears in areas

In [172]:
print(areas.count(9.50))

1

Create list areas

In [0]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

Use append twice to add poolhouse and garage size

In [0]:
areas.append(24.5)
areas.append(15.45)

Print out areas

In [175]:
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.45]

Reverse the orders of the elements in areas

In [0]:
areas.reverse()

Print out areas

In [177]:
print(areas)

[15.45, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]

In [178]:
!python3 get-pip.py

python3: can't open file 'get-pip.py': [Errno 2] No such file or directory

Definition of radius

In [0]:
r = 0.43

Import the math package

In [0]:
import math

Calculate C

In [0]:
C = 2 * r * math.pi

Calculate A

In [0]:
A = math.pi * r ** 2

Build printout

In [183]:
print("Circumference: " + str(C))
print("Area: " + str(A))

Circumference: 2.701769682087222
Area: 0.5808804816487527

Definition of radius

In [0]:
r = 192500

Import radians function of math package

In [0]:
from math import radians

Travel distance of Moon over 12 degrees. Store in dist.

In [0]:
dist =r*radians(12)

Print out dist

In [187]:
print(dist)

40317.10572106901

Create list baseball

In [0]:
baseball = [180, 215, 210, 210, 188, 176, 209, 200]

Import the numpy package as np

In [0]:
import numpy as np

Create a numpy array from baseball: np_baseball

In [0]:
np_baseball =np.array(baseball)

Print out type of np_baseball

In [191]:
print(type(np_baseball))

<class 'numpy.ndarray'>

height is available as a regular list

Import numpy

In [0]:
import numpy as np

Create a numpy array from height_in: np_height_in

In [193]:
np_height_in =np.array(height_in)

NameError: ignored

Print out np_height_in

In [0]:
print(np_height_in)

Convert np_height_in to m: np_height_m

In [0]:
np_height_m =np_height_in*0.0254

Print np_height_m

In [0]:
print(np_height_m)

height and weight are available as regular lists

Import numpy

In [0]:
import numpy as np

Create array from height_in with metric units: np_height_m

In [0]:
np_height_m = np.array(height_in) * 0.0254

Create array from weight_lb with metric units: np_weight_kg

In [0]:
np_weight_kg=np.array(weight_lb)*0.453592

Calculate the BMI: bmi

In [0]:
bmi= np_weight_kg/np_height_m**2

Print out bmi

In [0]:
print(bmi)

height and weight are available as a regular lists

Import numpy

In [0]:
import numpy as np

Calculate the BMI: bmi

In [0]:
np_height_m = np.array(height_in) * 0.0254
np_weight_kg = np.array(weight_lb) * 0.453592
bmi = np_weight_kg / np_height_m ** 2

Create the light array

In [0]:
light = bmi<21

Print out light

In [0]:
print(light)

Print out BMIs of all baseball players whose BMI is below 21

In [0]:
print(bmi[light])

height and weight are available as a regular lists

Import numpy

In [0]:
import numpy as np

Store weight and height lists as numpy arrays

In [0]:
np_weight_lb = np.array(weight_lb)
np_height_in = np.array(height_in)

Print out the weight at index 50

In [0]:
print(np_weight_lb[50])

Print out sub-array of np_height_in: index 100 up to and including index 110

In [0]:
print(np_height_in[100:111])

Create baseball, a list of lists

In [0]:
baseball = [[180, 78.4],
            [215, 102.7],
            [210, 98.5],
            [188, 75.2]]

Import numpy

In [0]:
import numpy as np

Create a 2D numpy array from baseball: np_baseball

In [0]:
np_baseball =np.array(baseball)

Print out the type of np_baseball

In [0]:
print(type(np_baseball))
# Print out the shape of np_baseball
print(np_baseball.shape)

baseball is available as a regular list of lists

Import numpy package

In [0]:
import numpy as np

Create a 2D numpy array from baseball: np_baseball

In [0]:
np_baseball = np.array(baseball)

Print out the shape of np_baseball

In [0]:
print(np_baseball.shape)

baseball is available as a regular list of lists

Import numpy package

In [0]:
import numpy as np

Create np_baseball (2 cols)

In [0]:
np_baseball = np.array(baseball)

Print out the 50th row of np_baseball

In [0]:
print(np_baseball[49,:])

Select the entire second column of np_baseball: np_weight_lb

In [0]:
np_weight_lb = np.array(np_baseball[:,1])

Print out height of 124th player

In [0]:
print(np_baseball[123,0])

baseball is available as a regular list of lists<br>
updated is available as 2D numpy array

Import numpy package

In [0]:
import numpy as np

Create np_baseball (3 cols)

In [0]:
np_baseball = np.array(baseball)

Print out addition of np_baseball and updated

In [0]:
print(np_baseball + updated)

Create numpy array: conversion

In [0]:
conversion = np.array([0.0254, 0.453592, 1])

Print out product of np_baseball and conversion

In [0]:
print(np_baseball * conversion)

np_baseball is available

Import numpy

In [0]:
import numpy as np

Create np_height_in from np_baseball

In [0]:
np_height_in = np_baseball[:,0]

Print out the mean of np_height_in

In [0]:
print(np.mean(np_height_in))

Print out the median of np_height_in

In [0]:
print(np.median(np_height_in))

np_baseball is available

Import numpy

In [0]:
import numpy as np

Print mean height (first column)

In [0]:
avg = np.mean(np_baseball[:,0])
print("Average: " + str(avg))

Print median height. Replace 'None'

In [0]:
med = np.median(np_baseball[:,0])
print("Median: " + str(med))

Print out the standard deviation on height. Replace 'None'

In [0]:
stddev = np.std(np_baseball[:,0])
print("Standard Deviation: " + str(stddev))

Print out correlation between first and second column. Replace 'None'

In [0]:
corr = np.corrcoef(np_baseball[:,0], np_baseball[:,1])
print("Correlation: " + str(corr))

heights and positions are available as lists

Import numpy

In [0]:
import numpy as np

Convert positions and heights to numpy arrays: np_positions, np_heights

In [0]:
np_positions = np.array(positions)
np_heights = np.array(heights)

Heights of the goalkeepers: gk_heights

In [0]:
gk_heights = np_heights[np_positions == 'GK']

Heights of the other players: other_heights

In [0]:
other_heights = np_heights[np_positions != 'GK']

Print out the median height of goalkeepers. Replace 'None'

In [0]:
print("Median height of goalkeepers: " + str(np.median(gk_heights)))

Print out the median height of other players. Replace 'None'

In [0]:
print("Median height of other players: " + str(np.median(other_heights)))