In [ ]:
# -*- coding: utf-8 -*-

In [ ]:
print("Hello World")

Example, do not modify!

In [ ]:
print(5 / 8)

Print the sum of 7 and 10

In [ ]:
print(7+ 10)

Addition, subtraction

In [ ]:
print(5 + 5)
print(5 - 5)

Multiplication, division, modulo, and exponentiation

In [ ]:
print(3 * 5)
print(10 / 2)
print(18 % 7)
print(4 ** 2)

How much is your $100 worth after 7 years?

In [ ]:
print(100 * (1.1 ** 7))

Create a variable savings

In [ ]:
savings=100

rint out savings

In [ ]:
print(savings)

Create a variable savings

In [ ]:
savings = 100

Create a variable growth_multiplier

In [ ]:
growth_multiplier=1.1

Calculate result

In [ ]:
result = savings * growth_multiplier **7

Print out result

In [ ]:
print(result)

Create a variable desc

In [ ]:
desc="compound interest"

Create a variable profitable

In [ ]:
profitable =True
savings = 100
growth_multiplier = 1.1
desc = "compound interest"

Assign product of growth_multiplier and savings to year1

In [ ]:
year1=savings*growth_multiplier

Print the type of year1

In [ ]:
print(type(year1))

Assign sum of desc and desc to doubledesc

In [ ]:
doubledesc = desc + desc
print(doubledesc)

Definition of savings and result

In [ ]:
savings = 100
result = 100 * 1.10 ** 7

Fix the printout

In [ ]:
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

Definition of pi_string

In [ ]:
pi_string = "3.1415926"

Convert pi_string into float: pi_float

In [ ]:
pi_float=float(pi_string)

area variables (in square meters)

In [ ]:
hall = 11.25
kit =  18.0
liv =  20.0
bed =  10.75
bath = 9.50

Create list areas

In [ ]:
areas=[11.25,
18.0,
20.0,
10.75,
9.50
]

Print areas

In [ ]:
print(areas)

area variables (in square meters)

In [ ]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

Adapt list areas

In [ ]:
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

Print areas

In [ ]:
print(areas)

In [ ]:
print('a'*5)

area variables (in square meters)

In [ ]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

house information as list of lists

In [ ]:
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom",bath]]

Print out house

In [ ]:
print(house)

Print out the type of house

In [ ]:
print(type(house))

Create the areas list

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

Print out second element from areas

In [ ]:
print(areas[1])

Print out last element from areas

In [ ]:
print(areas[-1])

Print out the area of the living room

In [ ]:
print(areas[5])
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

Sum of kitchen and bedroom area: eat_sleep_area

In [ ]:
eat_sleep_area = areas[3] + areas[7]

Print the variable eat_sleep_area

In [ ]:
print(eat_sleep_area)

Create the areas list

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

Use slicing to create downstairs

In [ ]:
downstairs=areas[0:6]

Use slicing to create upstairs

In [ ]:
upstairs=areas[6:10]

Print out downstairs and upstairs

In [ ]:
print(downstairs)
print(upstairs)

Create the areas list

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

Alternative slicing to create downstairs

In [ ]:
downstairs=areas[:6]

Alternative slicing to create upstairs

In [ ]:
upstairs=areas[6:]

Create the areas list

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

Correct the bathroom area

In [ ]:
areas[-1]=10.50

Change "living room" to "chill zone"

In [ ]:
areas[4]="chill zone"

Create the areas list and make some changes

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]

Add poolhouse data to areas, new list is areas_1

In [ ]:
areas_1= areas + ["poolhouse",24.5]

Add garage data to areas_1, new list is areas_2

In [ ]:
areas_2=areas_1+["garage",15.45]

Create list areas

In [ ]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

Create areas_copy

In [ ]:
areas_copy = list(areas)

Change areas_copy

In [ ]:
areas_copy[0] = 5.0

Print areas

In [ ]:
print(areas)

In [ ]:
help(round)

Create variables var1 and var2

In [ ]:
var1 = [1, 2, 3, 4]
var2 = True

Print out type of var1

In [ ]:
print(type(var1))

Print out length of var1

In [ ]:
print(len(var1))

Convert var2 to an integer: out2

In [ ]:
out2=int(var2)

Create lists first and second

In [ ]:
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

Paste together first and second: full

In [ ]:
full= list(first)+ list(second)

Sort full in descending order: full_sorted

In [ ]:
full_sorted=sorted(full,reverse = True)

Print out full_sorted

In [ ]:
print(full_sorted)

string to experiment with: place

In [ ]:
place = "poolhouse"

Use upper() on place: place_up

In [ ]:
place_up=place.upper()
# Print out place and place_up
print(place)
print(place_up)

Print out the number of o's in place

In [ ]:
print(place.count('o'))
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

Print out the index of the element 20.0

In [ ]:
print(areas.index(20.0))

Print out how often 9.50 appears in areas

In [ ]:
print(areas.count(9.50))

Create list areas

In [ ]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

Use append twice to add poolhouse and garage size

In [ ]:
areas.append(24.5)
areas.append(15.45)

Print out areas

In [ ]:
print(areas)

Reverse the orders of the elements in areas

In [ ]:
areas.reverse()

Print out areas

In [ ]:
print(areas)

In [ ]:
python3 get-pip.py

Definition of radius

In [ ]:
r = 0.43

Import the math package

In [ ]:
import math

Calculate C

In [ ]:
C = 2 * r * math.pi

Calculate A

In [ ]:
A = math.pi * r ** 2

Build printout

In [ ]:
print("Circumference: " + str(C))
print("Area: " + str(A))

Definition of radius

In [ ]:
r = 192500

Import radians function of math package

In [ ]:
from math import radians

Travel distance of Moon over 12 degrees. Store in dist.

In [ ]:
dist =r*radians(12)

Print out dist

In [ ]:
print(dist)

Create list baseball

In [ ]:
baseball = [180, 215, 210, 210, 188, 176, 209, 200]

Import the numpy package as np

In [ ]:
import numpy as np

Create a numpy array from baseball: np_baseball

In [ ]:
np_baseball =np.array(baseball)

Print out type of np_baseball

In [ ]:
print(type(np_baseball))

height is available as a regular list

Import numpy

In [ ]:
import numpy as np

Create a numpy array from height_in: np_height_in

In [ ]:
np_height_in =np.array(height_in)

Print out np_height_in

In [ ]:
print(np_height_in)

Convert np_height_in to m: np_height_m

In [ ]:
np_height_m =np_height_in*0.0254

Print np_height_m

In [ ]:
print(np_height_m)

height and weight are available as regular lists

Import numpy

In [ ]:
import numpy as np

Create array from height_in with metric units: np_height_m

In [ ]:
np_height_m = np.array(height_in) * 0.0254

Create array from weight_lb with metric units: np_weight_kg

In [ ]:
np_weight_kg=np.array(weight_lb)*0.453592

Calculate the BMI: bmi

In [ ]:
bmi= np_weight_kg/np_height_m**2

Print out bmi

In [ ]:
print(bmi)

height and weight are available as a regular lists

Import numpy

In [ ]:
import numpy as np

Calculate the BMI: bmi

In [ ]:
np_height_m = np.array(height_in) * 0.0254
np_weight_kg = np.array(weight_lb) * 0.453592
bmi = np_weight_kg / np_height_m ** 2

Create the light array

In [ ]:
light = bmi<21

Print out light

In [ ]:
print(light)

Print out BMIs of all baseball players whose BMI is below 21

In [ ]:
print(bmi[light])

height and weight are available as a regular lists

Import numpy

In [ ]:
import numpy as np

Store weight and height lists as numpy arrays

In [ ]:
np_weight_lb = np.array(weight_lb)
np_height_in = np.array(height_in)

Print out the weight at index 50

In [ ]:
print(np_weight_lb[50])

Print out sub-array of np_height_in: index 100 up to and including index 110

In [ ]:
print(np_height_in[100:111])

Create baseball, a list of lists

In [ ]:
baseball = [[180, 78.4],
            [215, 102.7],
            [210, 98.5],
            [188, 75.2]]

Import numpy

In [ ]:
import numpy as np

Create a 2D numpy array from baseball: np_baseball

In [ ]:
np_baseball =np.array(baseball)

Print out the type of np_baseball

In [ ]:
print(type(np_baseball))
# Print out the shape of np_baseball
print(np_baseball.shape)

baseball is available as a regular list of lists

Import numpy package

In [ ]:
import numpy as np

Create a 2D numpy array from baseball: np_baseball

In [ ]:
np_baseball = np.array(baseball)

Print out the shape of np_baseball

In [ ]:
print(np_baseball.shape)

baseball is available as a regular list of lists

Import numpy package

In [ ]:
import numpy as np

Create np_baseball (2 cols)

In [ ]:
np_baseball = np.array(baseball)

Print out the 50th row of np_baseball

In [ ]:
print(np_baseball[49,:])

Select the entire second column of np_baseball: np_weight_lb

In [ ]:
np_weight_lb = np.array(np_baseball[:,1])

Print out height of 124th player

In [ ]:
print(np_baseball[123,0])

baseball is available as a regular list of lists<br>
updated is available as 2D numpy array

Import numpy package

In [ ]:
import numpy as np

Create np_baseball (3 cols)

In [ ]:
np_baseball = np.array(baseball)

Print out addition of np_baseball and updated

In [ ]:
print(np_baseball + updated)

Create numpy array: conversion

In [ ]:
conversion = np.array([0.0254, 0.453592, 1])

Print out product of np_baseball and conversion

In [ ]:
print(np_baseball * conversion)

np_baseball is available

Import numpy

In [ ]:
import numpy as np

Create np_height_in from np_baseball

In [ ]:
np_height_in = np_baseball[:,0]

Print out the mean of np_height_in

In [ ]:
print(np.mean(np_height_in))

Print out the median of np_height_in

In [ ]:
print(np.median(np_height_in))

np_baseball is available

Import numpy

In [ ]:
import numpy as np

Print mean height (first column)

In [ ]:
avg = np.mean(np_baseball[:,0])
print("Average: " + str(avg))

Print median height. Replace 'None'

In [ ]:
med = np.median(np_baseball[:,0])
print("Median: " + str(med))

Print out the standard deviation on height. Replace 'None'

In [ ]:
stddev = np.std(np_baseball[:,0])
print("Standard Deviation: " + str(stddev))

Print out correlation between first and second column. Replace 'None'

In [ ]:
corr = np.corrcoef(np_baseball[:,0], np_baseball[:,1])
print("Correlation: " + str(corr))

heights and positions are available as lists

Import numpy

In [ ]:
import numpy as np

Convert positions and heights to numpy arrays: np_positions, np_heights

In [ ]:
np_positions = np.array(positions)
np_heights = np.array(heights)

Heights of the goalkeepers: gk_heights

In [ ]:
gk_heights = np_heights[np_positions == 'GK']

Heights of the other players: other_heights

In [ ]:
other_heights = np_heights[np_positions != 'GK']

Print out the median height of goalkeepers. Replace 'None'

In [ ]:
print("Median height of goalkeepers: " + str(np.median(gk_heights)))

Print out the median height of other players. Replace 'None'

In [ ]:
print("Median height of other players: " + str(np.median(other_heights)))